.u-section-1 .u-sheet-1 {
  min-height: 392px;
}

.u-section-1 .u-image-1 {
  width: 364px;
  height: 364px;
  margin: 23px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -277px 23px 0 -23px;
}

.u-section-1 .u-text-2 {
  margin: 23px 23px 60px 446px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -185px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -293px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 53px;
    margin-right: 0;
    margin-left: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: -157px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -303px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 52px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -128px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -240px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 44px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 480px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 36px 907px 0 104px;
}

.u-section-2 .u-icon-1 {
  width: 50px;
  height: 50px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -63px auto 0 32px;
  padding: 10px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: -1px 982px 0 104px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 32px 1062px 0 32px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 18px 309px 60px 32px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 748px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 810px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 875px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 573px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 620px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 670px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.6666666666666665rem;
    margin-right: 430px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 465px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 503px;
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 271px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 293px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 317px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 687px;
}

.u-section-3 .u-text-1 {
  margin: 52px auto 0 31px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 19px 179px 0 31px;
}

.u-section-3 .u-text-3 {
  margin: 98px 31px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 19px 211px 52px 31px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1637px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  margin: 66px auto 0 34px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 14px 261px 0 34px;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  margin: 81px 34px 0 880px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 14px 34px 0 261px;
}

.u-section-4 .u-text-6 {
  text-transform: none;
  font-weight: 700;
  margin: 138px auto 0 34px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  margin: 14px 245px 0 34px;
}

.u-section-4 .u-text-8 {
  text-transform: none;
  font-weight: 700;
  margin: 138px 34px 0 auto;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  margin: 14px 34px 60px 289px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-3 {
    margin-right: 61px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 714px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 45px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 494px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-4 .u-text-4 {
    margin-left: 314px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-4 {
    margin-left: 114px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1357px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 45px auto 0 29px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 12px 181px 0 29px;
}

.u-section-5 .u-text-4 {
  margin: 112px auto 0 29px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 25px 236px 0 29px;
}

.u-section-5 .u-text-6 {
  margin: 112px auto 0 29px;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: 12px 181px 60px 29px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 36px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1538px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  margin: 62px auto 0;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  margin: 74px auto 0 20px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 18px 212px 0 20px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 212px 0 20px;
}

.u-section-6 .u-text-5 {
  text-transform: none;
  font-weight: 700;
  margin: 62px auto 0 20px;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 212px 0 20px;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  margin: 19px 212px 0 20px;
}

.u-section-6 .u-text-8 {
  text-transform: none;
  font-weight: 700;
  margin: 62px auto 0 20px;
}

.u-section-6 .u-text-9 {
  font-size: 1.25rem;
  margin: 20px 212px 0 20px;
}

.u-section-6 .u-text-10 {
  font-size: 1.25rem;
  margin: 19px 212px 0 20px;
}

.u-section-6 .u-text-11 {
  text-transform: none;
  font-weight: 700;
  margin: 52px auto 0 20px;
}

.u-section-6 .u-text-12 {
  font-size: 1.25rem;
  margin: 24px 212px 0 20px;
}

.u-section-6 .u-text-13 {
  font-size: 1.25rem;
  margin: 14px -676px 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-3 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 65px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -5px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 80px;
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-top: -128px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 9px;
  }

  .u-section-6 .u-text-9 {
    margin-top: -295px;
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-right: 12px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 11px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 12px;
  }

  .u-section-6 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
  }

  .u-section-6 .u-text-11 {
    margin-top: -53px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.1111111111111112rem;
    margin-top: 29px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 13px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.1111111111111112rem;
    margin-top: 287px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.1111111111111112rem;
    margin-top: -315px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 23px;
  }

  .u-section-6 .u-text-9 {
    font-size: 1.1111111111111112rem;
    margin-top: -326px;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.1111111111111112rem;
    margin-top: -39px;
  }

  .u-section-6 .u-text-11 {
    margin-top: -28px;
  }

  .u-section-6 .u-text-12 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-6 .u-text-13 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-4 {
    margin-top: 21px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -37px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 258px;
  }

  .u-section-6 .u-text-7 {
    margin-top: -357px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 45px;
  }

  .u-section-6 .u-text-9 {
    margin-top: -333px;
  }

  .u-section-6 .u-text-10 {
    margin-top: -96px;
  }

  .u-section-6 .u-text-11 {
    margin-top: -78px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 2563px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  margin: 156px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 41px 31px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}